.dsbd-navbar-top-section{
  margin-top: 48px;
  width: 100%;
  height: auto;

  article{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin: 0 auto;

    .navbar-top-title--div{
      h2{
        color: #ffffff;
        font-size: 50px;
        font-weight: 300;

      }
    }

    .navbar-top-options{
      display: flex;

      button{
        width: 50px;
        height: 50px;
        border-radius: 30px;
        background-color: transparent;
        border: none;

        span{
          display: inline-block;
          width: 50px;
          height: 50px;
          background-image: url("../../img/User.svg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .navbar-top-link{
      margin-top: 5px;
      margin-left: 40px;
      color: #000;
      padding-top: 8px;
      background-color: #ffffff;
      font-size: 20px;
      text-align: center;
      border-radius: 30px;
      height: 40px;
      width: 150px;
      transition: 0.2s;
    }

    .navbar-top-link:hover{
      background-color: #b988d0;
      color: #ffffff;
    }
  }
}