.why-xcoin-section{
  width: 100%;
  height: auto;

  .why-xcoin-container{
    max-width: 1000px;
    margin: 0 auto;

    .why-xcoin-container--title{
      h2{
        color: #ffffff;
        font-size: 40px;
        font-weight: 300;
      }
    }
  }
}