.why-xcoin-section{
  width: 100%;
  height: auto;

  .why-xcoin-container{
    max-width: 1000px;
    margin: 0 auto;

    .why-xcoin-container--title{
      h2{
        color: #ffffff;
        font-size: 40px;
        font-weight: 300;
      }
    }

    .why-xcoin-container-information{
      display: flex;
      max-width: 1000px;
      margin: 0 auto;

      .why-xcoin--information-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        .why-xcoin--information--divisor{
          background-color: rgba(63, 63, 63, 0.37);

          h3{
            color: #ffffff;
            text-align: center;
          }
        }
      }
    }
  }
}